*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
  

  .quote-box{
    padding: 3rem;
    transition: 0.5s;
    transition-timing-function: ease-in;
    background-color: #dddddd;
    
 }
    
  .text{
    font-size:16px;
    padding-left:10px;
    transition: 0.5s;
    transition-timing-function: ease-in;
    font-family: 'Merriweather Sans', sans-serif;
    color: #414342;
    
  }

.translation{
    font-size:15px;
    padding-left:10px;
    transition: 0.5s;
    transition-timing-function: ease-in;
    font-family: 'Merriweather Sans', sans-serif;
    color: #323232;
    margin-top: 20px;
    
  }

i {
  padding-left:10px;
}

.fa-2x{
    padding-left:10px;

}
  
  .quote{
    transition: 0.5s;
    transition-timing-function: ease-in;
  }
  
  .new-quote{
      font-size: 16px;
      font-family: 'Merriweather Sans', sans-serif;
      border-radius: 20px;
      border: rgb(244, 98, 58);
      cursor:pointer;
      padding-bottom: 8px;
      padding-top: 8px;
      margin-top: 5px;
      background-color: #b9a972;
      color: white;
  }


  .text-center{
    text-align: center;
  }
    
  .btn.new-quote:hover{
    background-color: #323232;
    color: white;
    border-color: #323232;
}

.btn.new-quote:active, .btn.new-quote:focus {
  background-color: #323232;
}
  
  .author{
    margin: 10px;
    font-size: 18px;
    transition: 0.5s;
    transition-timing-function: ease-in;
    font-family: 'Merriweather Sans', sans-serif;
    color: #323232;
    padding-bottom:15px;
  }
    
    
p{
    margin-top: 5px;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 21.5%;
}
  

/*
@media (min-width: 960px) {
  .block{
    perspective: 150rem;
    position: absolute;
    top: 57.5%;
    left: 27%;
  }
}

@media (max-width: 960px) {
  .block{
    perspective: 150rem;
    position: absolute;
    top: 45%;
    width: 100%;
  }
}*/


@media (max-width: 960px) {
  .block{
    height: 330px;
  }
}

@media (min-width: 960px) {
  .block{
    position: relative;
    width: 200px;
  }
}
  
.block__main {
    min-width: 45vw;
    position: absolute;
    transition: all .8s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.15);
    border-radius: .5rem; 
    
  }
  
  .block__back {
    transform: rotateY(180deg); 
  }
  
.rotateF{
  transform: rotateY(-180deg);
}
  
.rotateB{
  transform: rotate(0deg);
}

.btn-zitat{
  color: white;
  background-color: #323232;
  width: 150px;
}
